body { 
    margin: 0px 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
    font-weight: normal;
}

h3 {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

h4 {
    font-weight: bold;
    color: black;
    font-size: 22px;
}

.colorLightBlue {
    color: #deebff;
}

.colorBlue {
    color: #0065FC;
}

.colorGrey {
    color: #F2F2F2;
}

.colorGreyStar { 
    color: rgb(204, 202, 202);
}

.backBlue {
    background-color: #0065FC;
}

.backGrey {
    background-color: #F2F2F2;
}

.boxShadow {
    box-shadow: 5px 5px 5px #F2F2F2;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gen-row-Between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.column {
    flex-direction: column;
}

.borderRadius {
    border-radius: 30px;
}


/* Header */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 7%;
        margin: 20px 20px;
    }

    .header-logo img {
        width: 100%;
        height: 100%;
    }

.header-nav-btn{
    color:#0065FC;
}


/*Header Mediaquery iphone 768px*/

@media screen and (max-width:768px){
    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 15px;
        font-weight: normal;
    }
    
    h3 {
        font-weight: bold;
        color: black;
        font-size: 24px;
    }
    
    h4 {
        font-weight: bold;
        color: black;
        font-size: 22px;
    }
    
    
    .boxShadow {
        box-shadow: 5px 5px 5px #F2F2F2;
    }
    
    .spaceBetween{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .spaceAround {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .gen-row-Between {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    .flexColumn {
        display: flex;
        flex-direction: column;
    }
    .column {
        flex-direction: column;
    }
    
    .borderRadius {
        border-radius: 30px;
    }
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
        .header-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 7%;
            margin: 20px 20px;
        }
    
        .header-logo img {
            width: 100%;
            height: 100%;
        }
    
    .header-nav-btn{
        color:#0065FC;
    }
}    

/*Header Mediaquery tablette 1024px*/

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
    font-weight: normal;
}

h3 {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

h4 {
    font-weight: bold;
    color: black;
    font-size: 22px;
}

.boxShadow {
    box-shadow: 5px 5px 5px #F2F2F2;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gen-row-Between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}
.column {
    flex-direction: column;
}

.borderRadius {
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .header-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 7%;
        margin: 20px 20px;
    }

    .header-logo img {
        width: 100%;
        height: 100%;
    }

.header-nav-btn{
    color:#0065FC;
}


/* Navigation */

nav {
    width: 90%;
}

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        margin: 0;
    }

    .header-nav-btn {
        font-size: 15px;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0px 25px;
        padding: 0px 25px;
    }

    .header-nav-btn:hover {
        border-top: 3px solid #0065FC;
        color: #0065FC; 
    }


/* Ajoutez le formulaire de recherche */

.booki-form h1 {
    margin-bottom: 10px;
}

    .booki-form p {
        margin-top: 0px;
    }

    .booki-form-localisation, .booki-form-recherche, .booki-form-btn {
        padding: 15px 15px;
        font-size: 20px;
    }

    .booki-form-localisation {
        margin-right: -6px;
        border-radius: 15px 0px 0px 15px;
        border: 2px solid #F2F2F2;
        font-family: 'Font Awesome 5 Free' 'Font Awesome 5 Brands';
    }

    .booki-form-recherche {
        border: 2px solid #F2F2F2;
        width: 15%;
    }

    .booki-form-btn {
        margin-left: -5px;
        border-radius: 0px 15px 15px 0px;
        font-weight: bolder;
        color: white;
        border: 2px solid #0065FC;
    }

        .booki-form-btn-responsive {
            display: none;
        }

        ::placeholder{
            font-weight: bolder;
            color: rgb(59, 57, 57);
        }

/* Ajout de la partie Filtres */


.booki-filtres {
    display: flex;
    align-items: center;
    margin: 30px 0px;

}

.booki-filtres h3{
    font-size: 17px;
}

    .booki-filtres-btn {
        height: 40px;
        border : 3px solid #F2F2F2;
        border-radius: 35px;
        margin-left: 20px;
    }

        .booki-filtres-btn-icone {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -3px;
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            border-radius: 50%;
            background-color: #deebff;
        }

        .booki-filtres-btn-titre {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;
            font-weight: bold;
        }

/* Effet au survol des filtres */


.booki-filtres-btn:hover > .booki-filtres-btn-icone {
    background-color: #0065FC;
    color: #deebff;
}

.booki-filtres-btn:hover > .booki-filtres-btn-titre {
    color: #0065FC;
}

/* Information complémentaire à la partie Filtres */


.booki-filtres-infocompl {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

    .booki-filtres-infocompl-icone {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px #deebff solid;
        height: 26px;
        width: 26px; 
        border-radius: 25px;
        padding: 2px;
    }

    .booki-filtres-infocompl-texte {
        margin-left: 10px;
        font-size: 15px;
    }


   /*Formulaire Card*/

.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}

.main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    width: 900px;
    height: 650px;
    border-radius: 20px 20px 20px 20px;
}



.item-box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    margin: 25px;
}

.hebergement-a-marseille {
    padding-left: 20px;
    padding-top: 10px;
    box-sizing: content-box;
}

.titre-hebergement p{
    width: 100%;
    height: 10%;
    box-sizing: content-box;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Raleway";
}

.item {
    border: 1px solid white;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    align-content: center;
    width: 220px;
    height: 200px;
    margin: 10px;
}

.item img {
    border-radius: 30px 30px 0px 0px;
    padding: 2px;
    width: 215px;
    height: 120px;
}

.item h1 {
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    margin-top: 1%;
    margin-bottom: 5px;
}

.item p {
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    margin-top: 1%;
}

.rating-box-item1{
display: flex;
align-items: flex-start;
padding-left: 10px;
margin-bottom: 15px;
}


.item-rating{
    color: rgb(42,99,243) ;
    
}


.afficher-plus p{
    box-sizing: content-box;
    padding-left: 20px;
    align-items: flex-end;
    font-size: 1em;
    font-weight: bold;
    font-family: "Raleway";
}

/* Section 2 les plus populaires */


.main-box2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    justify-content: center;
    position: relative;
    width: 400px;
    height: 650px;
    border-radius: 20px 20px 20px 20px;
}

.item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    background-color: white;
    width: 365px;
    height: 160px;
    border-radius: 20px 20px 20px 20px;
    margin: 20px;
}

.les-plus-populaires{
    display: inline-block;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;

}

.titre-hebergement2{
    height: 50px;
    padding-left: 20px;
    font-size: 22px;
    font-family: "Raleway";
    font-weight: bold;

}

.chart{
   
}

.items h1, p{
    display: flex;

}

.item2 h1{
    font-size: 0.9em;
    font-weight: bold;
    font-family: "Raleway";
}

.item2 p{
    font-size: 0.7em;
    text-align: left;
    padding-left: 10px;
    margin-top: 0px;
}

.item2 img {
    width: 150px;
    height: 150px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;

}

.item2-text{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 15px;
    padding-bottom: 60px;
}
.item2-text h1 {
    margin: 1px;
    padding: 2px;
    font-family: "Raleway";
    font-size: 19px;
}
.item2-text p {
    margin: 1px;
    padding: 2px;
    font-family: "Raleway";
}

.rating-box-item2{
display: flex;
align-items: flex-start;
padding-left: 2px;

}

/* Activités à Marseille*/

.main-box3{
padding-top: 30px;
height: 500px;
}

.header3{
    font-size: 50px;
    font-family: "Raleway";
}

.item-box3{

    display: flex;
    justify-content: space-between;
    margin: 10px;
    height: 600px;
}

.item3-partie1{
    border: 1px solid rgb(242, 242, 242);
    box-shadow: 1px 1px 1px 1px rgb(242, 242, 242);
    border-radius: 30px 30px 30px 30px;
    width: 300px;
    height: 450px;
}


.vieux-port img{
    width: 300px;
    height: 400px;
    border-radius: 30px 30px 0px 0px;
}

.vieux-port h3{
    font-size: 18px;
    font-family: "raleway";
    padding-left: 20px;
    line-height: 10px;
}

.item3-partie2{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;


}
.fort-de-pomegues{
    border: 1px solid  rgb(242, 242, 242);
    box-shadow: 1px 1px 1px 1px  rgb(242, 242, 242);
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 50px;

}
.fort-de-pomegues img{
    width: 300px;
    height: 200px;
    border-radius: 30px 30px 0px 0px;
}

.fort-de-pomegues h3{
    font-size: 18px;
    font-family: "raleway";
    padding-left: 20px;
    line-height: 10px;
}

.iles-du-frioul{
    border: 1px solid  rgb(242, 242, 242);
    box-shadow: 1px 1px 1px 1px  rgb(242, 242, 242);
    border-radius: 30px 30px 30px 30px;
}

.iles-du-frioul img{
    width: 300px;
    height: 100px;
    border-radius: 30px 30px 0px 0px;
}

.iles-du-frioul h3{
    font-size: 18px;
    font-family: "raleway";
    padding-left: 20px;
    line-height: 10px;
}

.item3-partie3{
    border: 1px solid  rgb(242, 242, 242);
    box-shadow: 1px 1px 1px 1px  rgb(242, 242, 242);
    border-radius: 30px 30px 30px 30px;
    width: 300px;
    height: 450px;
}

.parc-national-des-calanques img{
    width: 300px;
    height: 400px;
    border-radius: 30px 30px 0px 0px;
}

.parc-national-des-calanques h3{
    font-size: 18px;
    font-family: "raleway";
    padding-left: 20px;
    line-height: 10px;
}


.item3-partie4{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;

}

.notre-dame-de-la-garde{
    border: 1px solid  rgb(242, 242, 242);
    box-shadow: 1px 1px 1px 1px  rgb(242, 242, 242);
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 50px;
}

.notre-dame-de-la-garde img{
    width: 300px;
    height: 130px;
    border-radius: 30px 30px 0px 0px;
}

.notre-dame-de-la-garde h3{
    font-size: 18px;
    font-family: "raleway";
    padding-left: 20px;
    line-height: 10px;
}
.parc-longchamp {
    border: 1px solid rgb(242, 239, 239);
    box-shadow: 1px 1px 1px 1px rgb(242, 239, 239);
    border-radius: 30px 30px 30px 30px;

}
.parc-longchamp img{
    width: 300px;
    height: 170px;
    border-radius: 30px 30px 0px 0px;
}

.parc-longchamp h3{
    font-size: 18px;
    font-family: "raleway";
    padding-left: 20px;
    line-height: 10px;
}


/*Footer*/

footer{
    flex-shrink: 0;
    width: 100%;
    padding-top: 0px;
    margin-top: 60px;


}

.contenu-footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    padding: 50px 0 50px;
    background-color: rgb(242, 242, 242);
}

.item-bloc{
    width: 25%;
    margin: 0px 30px;
    padding: 10px;
}

.item-bloc h3{
    font-family: "raleway";
    font-size: 20px;
}

.item-bloc ul{
    list-style-type: none;
    padding-inline-start: 0%;

}
.item-bloc li{

    padding: 5px 0px;
}

.site {
    color : black;
    font-family: "raleway";
    font-size: 18px;
    text-decoration: none;

  }


  * Responsive design - media queries */


@media screen and (max-width: 992px) {
    body {
    font-size: 18px;
    }
    h1 {
    font-size: 26px;
    margin-top: 40px;
    }
    h2 {
    font-size: 26px;
    }
    h3 {
    font-size: 20px;
    }
    header {
    border-bottom: solid 1px rgb(204, 202, 202);
    }
        .header-logo {
        width: 16%;     
        }
        .header-nav-btn {
        font-size: 20px;
    }
    .booki-form-localisation, .booki-form-recherche, .booki-form-btn {
    font-size: 16px;
    }
    .booki-filtres {
    margin-top: 50px;
    flex-wrap: wrap;
    }
	.booki-filtres-btn {
	margin-bottom: 10px;
	}
               
}

@media screen and (max-width: 768px) {
    body {
    margin: 0px 0px;
    }
        main {
        font-size: 14px;
        margin: 0px;
        }
        .booki-form, .booki-filtres, .booki-filtres-infocompl{
        padding: 10px 20px;
        }
        h1 {
        font-size: 22px;
        display: flex;
        flex-wrap: wrap;
        }
        h2 {
        font-size: 22px;
        display: flex;
        flex-wrap: wrap;
        }
        h3, h4 {
        font-size: 16px;
        }
    
        .header-logo {
        width: 30%;     
        }
        nav {
        width: 100%;
        }
        nav ul {
        justify-content: space-around;
        height: 80px;
        padding: 0;
        }
            nav li {
            width: 50%;
            border-bottom: 3px solid #F2F2F2;
            }
            .header-nav-btn {
            justify-content: center;
            font-size: 18px;
            }
            .header-nav-btn:hover {
            border-top: 0px solid #0065FC;
            }
            nav li:hover {
            border-bottom: 3px solid #0065FC;
            border-top: 0;
            color: #0065FC; 
            }
    form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    }
        .booki-form-recherche {
        width: 60%;
        }
        .booki-form-btn {
        display: none;
        }
        .booki-form-btn-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -13px;
        border-radius: 20px;
        height: 50px;
        width: 50px;
        border: 2px solid #0065FC;
        }
    .booki-filtres {
    flex-flow: row wrap;
    margin: 10px 0px;
    }
        .booki-filtres h3 {
        width: 100%;
        }
        .booki-filtres-btn {
        margin-right: 7px;
        margin-left: 0;
        }
            .booki-filtres-btn-icone {
            font-size: 17px;
            }
            .booki-filtres-btn-titre {
            padding: 0px 10px;
            }
}


